<section>

  <div id = "home-title">
    <h1>What is a Conformation Show?</h1>
    <p>Dog shows, or conformation events originated as a way for breeder's to evaluate their breeding stock. Dogs at
      these events compete for points towards their championship. There are 3 types of events in a conformation show, these
      are <strong>All-Breed Shows</strong>, <strong>Specialty Shows</strong>, and <strong>Group Shows</strong>. Dogs are
      evaluated based on how closely they conform to their breed's official standards. The more they conform, the better
      their chances at winning Best in Show!
    </p>
    <hr>
  </div>

  <div id ="vid-container">
    <div>
      <iframe width="900" height="500" [src] = 'safeURL' frameborder="0" allowfullscreen ></iframe>

      <p>
        Source: American Kennel Club ||
        Original Link: <a href="https://www.youtube.com/watch?v=RRNYkMa3sQU">here</a></p>
    </div>
  </div>

  <footer>
    <p>© Adrian Angara 2020</p>
  </footer>

</section>
