<section *ngIf = "(owner$ | async) as owner">
  <div id ="profile-title">
    <h1>Dashboard</h1>
    <hr>
  </div>

  <div id="profile-user">

    <div id = "profile-user__pic" >
      <img src="../../../../../assets/images/others/default.jpg" alt="">
    </div>
    <div id = "profile-user__text1">
      <p style = "margin-top: 0;">{{owner.firstname}} {{owner.lastname}}</p>
      <p>{{owner.email}}</p>
      <p>Toronto, ON</p>
    </div>
    <div id = "profile-user__text2">
      <table>
        <tr><td><p># of shows participated:</p></td><td><p><strong>4</strong></p></td></tr>
        <tr><td><p># of shows placed:</p></td><td><p><strong>2</strong></p></td></tr>
        <tr><td><p># of awards:</p></td><td><p><strong>9</strong></p></td></tr>
        <tr><td><p># of registered dogs:</p></td><td><p><strong>{{(contestants$|async).length}}</strong></p></td></tr>
      </table>
    </div>


    <div id = "add-contestant" (click) = "addContestant()">
      <h3>Register</h3>
    </div>


  </div>
  <hr>
  <div id="contestant-card-container">
    <div id="contestant-card" *ngFor ="let con of contestants$ | async">

      <div *ngFor = "let breed of breeds$ | async" >
        <img *ngIf = "breed.name === con.breed" src ="{{breed.pic_url}}" alt="">
      </div>

      <div id="contestant-card__inner">
        <div id = "contestant-card__title">
          <h1>{{con.name}}</h1>
          <div [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <i class="fas fa-ellipsis-v"></i>
          </div>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click) = "editContestant(con)">
              <mat-icon color="primary">create</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click) = "deleteContestant(con)">
              <mat-icon color="warn">delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>

        <p>Breed: {{con.breed}}</p>
        <p>Group: {{con.group}}</p>
        <p *ngIf="con.isMale else female">Gender: Male</p>
        <p *ngIf="con.isSpecial else class">Rank: Specialty Class</p>

        <ng-template #female>
          <p>Gender: Female</p>
        </ng-template>
        <ng-template #class>
          <p>Rank: Regular Class</p>
        </ng-template>
      </div>
    </div>


  </div>

</section>
