<section>

  <div id = "breeds-title">
    <h1>Dog Breeds</h1>
    <p>"From the beginning, humans purposefully bred dogs to perform various tasks. Hunting, guarding, and herding
      are thought to be among the earliest jobs eagerly performed by the animal destined to be called 'man’s best friend'.
      For thousands of years, humans bred dogs toward the physical and mental traits best suited for the work expected of them.
      Eventually, there emerged specific breeds of dogs,
      custom-bred to suit the breeders’ local needs and circumstances"
    </p>
    <p> - AKC</p>
    <p style = "color: red; font-size: 1rem">*NOTE: This application only features 21 out of 170+ AKC recognized breeds</p>
    <hr>
  </div>



  <div id = "breed-card-container">
    <div *ngFor = "let breed of breeds$ | async" id = "breed-card">
      <img   [lazyLoad]="breed.pic_url" >

      <div id = "breed-card__inner">
        <h1>{{breed.name}}</h1>
        <p><strong>Group:</strong> {{breed.breed_group}}</p>
        <p><strong>Temperament:</strong> {{breed.temperament}}</p>
        <p><strong>Life span:</strong> {{breed.life_span}}</p>
        <p><strong>Bred for:</strong> {{breed.bred_for}}</p>
      </div>
    </div>
  </div>

  <footer>
    <p>© Adrian Angara 2020</p>
  </footer>

</section>
