<section *ngIf = "(event$ | async) as event">
  <div id ="event-title">
    <div id = "navigate-back">

      <p (click) = "navigateBack()"><i class="fas fa-chevron-left"></i> &nbsp;Events</p>
    </div>

    <h1>{{event.name}}</h1>
    <hr>
  </div>

  <div class = "align-center">
    <h1><strong>Venue:</strong> {{event.venue}}</h1>
    <h1><strong>Location:</strong> {{event.location}}</h1>
  </div>

  <div id = "show-card-container">
    <div id = "show-card-container__inner">
      <div *ngFor = "let show of shows$ | async" id = "show-card">
        <div id = "show-card__header">
          <p>Contestants for:</p>
          <h2>{{show.type}} - {{show.date | date: 'mediumDate'}}</h2>
          <hr>
        </div>
        <div id = "show-card__table" >
          <p *ngFor = "let con of showContestantsFull$ | async">{{con.name}}</p>
        </div>
      </div>
    </div>
  </div>

</section>


