section {
  width: calc(100vw - 300px);
  height: 100vh;
  overflow: auto;

  padding: 50px 75px;
}

#navigate-back {
  left: 0;
  top: 0;
  position: absolute;

  p {
    margin: 0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

}

#event-title {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  color: #50514fff;

  h1 {
    font-size: 2rem;
    font-weight: bolder;
    margin: 0;
  }
}

.align-center {
  width: 100%;
  text-align: center;
}

#show-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


  &__inner {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
  }
}

#show-card {
  width: 450px;
  height: auto;
  background-color: #fffcffff;
  box-shadow: 1px 1px 5px grey;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;


  &__header {
    width: 100%;
    text-align: center;
    color: #247ba0ff;
    font-size: smaller;

    p {
      margin: 0;
    }
  }

  &__table {
    height: 300px;
    width: 100%;
    overflow: auto;
  }
}
