nav {
  height: 100vh;
  width: 300px;
  background-color: #50514fff;

  #img-cont {
    display: flex;
    justify-content: center;
  }

}

#bars-container {
  height: 60px;
  width: auto;

  display: none;
}

#nav-inner {
  padding: 0px 30px;

  a {
    text-decoration: none;

    h1 {
      color: #fffcffff;
      font-size: 1.3rem;

      &:hover {
        text-decoration: underline;
      }
    }

  }
}

.chosen {
  text-decoration: underline;
}

#copyright {
  position: absolute;
  bottom: 0;
  left: 50px;
  color: #fffcffff;
}

@media (max-width: 1024px) {

  nav {
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    z-index: 10;

    #img-cont img{

      height: 60px;
      width: 60px;

    }

    hr {
      display: none;
    }
  }


  #nav-inner {
    display: flex;
    padding: 0;

    div {
      display: flex;

      a {
        margin-left: 20px;
      }

    }

  }

  #copyright {
    display: none;
  }

}

@media (max-width: 720px) {

  #bars-container {
    display: flex;
    align-items: center;
    cursor: pointer;

    i {
      color: #fffcffff;
      transform: scale(1.3);


      &:hover {
        color: #247ba0ff;
      }
    }


  }

  #nav-inner {
    display: none;
    width: 100vw;
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: #50514fff;
    padding-left: 30px;


    div {
      display: block;

      a {
        margin-left: 0;
      }

    }


  }

}


