<nav>

  <div id ="img-cont">
    <img src="../../assets/images/logo.png" alt="" height="200" width="200">
  </div>

  <div id = "bars-container">
    <i class="fas fa-bars"></i>
  </div>

  <div id ="nav-inner">
    <div>
      <a [routerLink]="['/']" (click) = "chosen('home')"><h1 [ngClass] = "{'chosen': isChosen === 'home'}" >Home</h1></a>
      <a [routerLink]="['/breeds']" (click) = "chosen('breeds')"><h1 [ngClass] = "{'chosen': isChosen === 'breeds'}" >Breeds</h1></a>
    </div>

    <hr>
    <div *ngIf = "isLoggedIn else notLoggedIn">
      <a [routerLink]="['/owner']" (click) = "chosen('profile')"><h1 [ngClass] = "{'chosen': isChosen === 'profile'}" >Profile</h1></a>
      <a [routerLink]="['/events']" (click) = "chosen('events')"><h1 [ngClass] = "{'chosen': isChosen === 'events'}" >Events</h1></a>
      <a [routerLink]="['/']" (click) = "chosen('logout')"><h1 [ngClass] = "{'chosen': isChosen === 'logout'}" >Logout</h1></a>
    </div>

    <ng-template #notLoggedIn>
      <a [routerLink]="['/login']" (click) = "chosen('login')"><h1 [ngClass] = "{'chosen': isChosen === 'login'}" >Login</h1></a>
    </ng-template>

  </div>


  <p id = "copyright">© Adrian Angara 2020</p>
</nav>
