<nav>

  <div id ="img-cont">
    <img src="../../assets/images/logo.png" alt="" height="200" width="200">
  </div>
  <div id ="nav-inner">
    <a [routerLink]="['/']" (click) = "chosen('home')"><h1 [ngClass] = "{'chosen': isChosen === 'home'}" >Home</h1></a>
    <a [routerLink]="['/owner']" (click) = "chosen('profile')"><h1 [ngClass] = "{'chosen': isChosen === 'profile'}" >Profile</h1></a>
    <a [routerLink]="['/breeds']" (click) = "chosen('breeds')"><h1 [ngClass] = "{'chosen': isChosen === 'breeds'}" >Breeds</h1></a>

    <hr>
    <a [routerLink]="['/']" (click) = "chosen('shows')"><h1 [ngClass] = "{'chosen': isChosen === 'shows'}" >Shows</h1></a>
    <a [routerLink]="['/']" (click) = "chosen('register')"><h1 [ngClass] = "{'chosen': isChosen === 'register'}" >Register</h1></a>
<!--    <h1>Results</h1>-->
  </div>
</nav>
