nav {
  height: 100vh;
  width: 300px;
  background-color: #50514fff;

  #img-cont {
    display: flex;
    justify-content: center;
  }

}

#nav-inner {
  padding: 0px 30px;

  a {
    text-decoration: none;

    h1 {
      color: #fffcffff;
      font-size: 1.3rem;

      &:hover {
        text-decoration: underline;
      }
    }

  }
}

.chosen {
  text-decoration: underline;
}

#copyright {
  position: absolute;
  bottom: 0;
  left: 50px;
  color: #fffcffff;
}


